@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@371&display=swap');
*{
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color:rgb(110, 110, 110);
  height: 100vh;
  display: flex;
  justify-content:center ;
  align-items: center;
}

.base{
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height:70vh;
  border-radius: 35px;
  margin:10px;
  cursor: pointer;
  color: #f1f1f1;
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: all 500ms ease-in-out;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  
}

.slide h3 {
  margin: 20px;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  position: absolute;
  opacity:0;
  
}

.slide.active {
  flex:10;

}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in ;
}
